h2.benefits__title Преимущества курса
p.benefits__description 
  | Поможем создать 
  span корректный промт,
  br.mobile
  | чтобы вы получили 
  br.desktop
  | максимально 
  br.mobile
  | корректный вариант под ваши нужды!
