section.hero
  .hero__container
    h1.hero__title
      span.hero__title_highlight Нейросеть
      br
      | может всё!
    p.hero__subtitle Мы уже живем в этой удивительной реальности
    button.hero__btn Погрузиться в новый мир
  picture.hero__picture
    source(media="(max-width: 768px)" srcset="images/hero/hero-mobile.svg")
    img.hero__img(src='images/hero/hero.svg' alt='Иллюстрация ии')
