@use "sass:map";

$breakpoints: (
  mobile: 768px,
  desktop: 1920px
);

@mixin respond-to($size) {
  $bp: map.get($breakpoints, $size);
  @if $bp {
    @media (max-width: $bp) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint `#{$size}`";
  }
}
