doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title AI
    link(rel="stylesheet" href="css/style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    )
  body
    include ../components/header/header.pug
    main.main
      div.main__overlay
      include ../components/hero/hero.pug
      include ../components/benefits/benefits.pug
    include ../components/modal/modal.pug
    script(src="js/script.js")
